
#section1, #section2, #section3, #section4 {
    padding: 5%;
}

.span-p{
    word-wrap: break-word;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.clearfix p {
    word-wrap: normal;
}

/*SEÇÃO 1*/

#section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#imagem {
    display: inherit;
    width: 50%;
    float: left;
}

.imagem img {
    float: left;
    width: 100%;
    flex-basis: 50%;

}

#info {
    flex-direction: column;
    align-content: space-between;
    align-self: flex-end;
    float: right;
}

#botao-comprar {
    background-color: #DD1C1A;
    color: black;
    padding: 5% 8%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
}

#span-p {
    padding-top: 5%;
}

#botao-comprar img{
    float:left;
    width:20%;
    height: 20%;
}

/*SEÇÃO 2*/

#section2 {
    background-color: #2ABF5E;
}

#section2 button{
    background-color: inherit;
    width:auto;
    height: auto;
}

#section2 img:hover{
    width: 100%;
}


#section2 button:focus{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius:10px;
    width:100%;
}


#section2 img{
    transition: width 2s;
    width: 70%;
    height: 70%;
}

.plataforma{
    text-align: center;
    width: 50%;
    padding: 5%;
    float:left;
}

.clearfix{
    padding-top:0;
    padding-bottom: 0; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


/*SEÇÃO 3*/

#section3 {
    background-color: #FAA300;
}

input{
    margin-top:5%;
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
    background-color: rgba(196,196,196,0.5);
    text-align: center;
    font-size: 20px;
}

input:focus{
    border: 3px solid #555;

}

#botao-frete{
    background-color: #C97200;
    color: black;
    padding: 5% 8%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5% auto;
    display: block;
    text-align: center;
}

/* SEÇÃO 4 */

#section4 {
    display: none;
    background-color: #1C77C3;
}

table {
    margin: 0 auto;
    vertical-align: middle;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2%;
    text-align: center;
}


table caption {
    font-size: 1.3em;
    margin-bottom: 3%;
}

#section4 input {
    background-color: #ffffff;
    border: #ffffff;
}

@media screen and (min-width: 600px) {
    table{
        font-size: 24px;
    }

    th, td, span {
        font-size: 22px;
    }
}

@media screen and (min-width:1024px){

    .span-p{
        font-size: 50px;
    }

    input{
        font-size:40px;
    }

    .imagem {
        width: 30%;
        margin-left: 8%;
    }
}
