h1 {
    font-size: 20px;
    text-align: center;
}

#login {
    height: 50%;
    margin: 0 auto;
    display: block;
}

a, a:visited {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

#esqueceusenha {
    cursor: pointer;
}

input[type=email], input[type=password] 
{
    width: 100%;
    /* padding: 12px; */
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: vertical;
    background-color: rgba(196,196,196,0.5);
    text-align: center;
}

label {
    padding: 12px 12px 12px 0;
    margin-top: 10px;
    display: inline-block;
}

label:last-child {
    margin-bottom: 10px;
}

#login h2 {
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding: 2%;
}

#login button[type=submit] {
    background-color: #DD1C1A;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#esqueceu-senha {
    background-color: #2ABF5E;
    word-wrap: break-word;
    margin-top: 15px;
    height: 60vh;
    display: none;
}

#esqueceu-senha input[type=email] {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}

#esqueceu-senha button[type=submit]{
    background-color: #1C8741;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, button[type=submit] {
        width: 100%;
        margin-top: 0; 
    }
}

@media screen and (max-width: 600px) {
    #login {
        margin-left: 0;
    }
}

@media screen and (min-width: 601px) {
    #login {
        margin-left: 30%;
    }
}