section{
    padding: 5%;
}

#section1 {
    background-color: #ffffff;
}

#section2 {
    background-color: #2ABF5E;
}

#section3 {
    
    background-color: #FAA300;
}


#section3 p{
    
    width: auto;
}

#section3 img {
    /* float: left; */
    width: 30%;
    height:30%;

}


#section1 p img {
    float: left;
    width: 45%;
    height:45%;

}

#section2 p img {
    float: right;
    width: 50%;
    height:50%;

}

#section1 p{
    /* vertical-align: sub; */
    word-wrap: break-word;
    text-align: center;
    font-size: 100%;
    width: 95%;
}

#section2 p{
    /* margin-left: 2%; */
    /* float:left; */
    word-wrap: break-word;
    text-align: center;
    font-size: 100%;
    width: 100%;
}