div {
    padding: 5%;
}

.clearfix{
    padding-top:0;
    padding-bottom: 0; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* SEÇÃO 1 */
#section1 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img1 {
    width: 70%;
}

#img1 img {
    flex: content;
    width: 100%;
}

#section1 p{
    word-wrap: break-word;
    text-align: center;
    align-self: center;
    font-size: 100%;
    width: 100%;
}

/* SEÇÃO 2 */

#section2 {
    background-color: #2ABF5E;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

#desc {
    display: flex;
    flex-direction: row;
}

#img2 {
    width: 70%;
    flex-basis: 70%;
    flex-grow: 1;
}

#img2 img {
    flex: content;
    width: 100%;

}

iframe {
    display: none;
}

#section2 p {
    word-wrap: break-word;
    text-align: center;
    align-self: center;
    font-size: 100%;
    width: 100%;
}

/* SEÇÃO 3 */

#section3 {
    background-color: #FAA300;
}

#section3 img {
    width: 100%;
    height:100%;
}

#section3 p {
    text-align: center;
}

.plataformas {
    text-align: center;
    width: 50%;
    padding: 5%;
    float: left;
}

/* SEÇÃO 4 */

#section4 {
    display: flex;
    flex-direction: column;
    background-color: #1C77C3;
}

#section4 p{
    word-wrap: break-word;
    text-align: center;
    font-size: 100%;
    width: 100%;
}
 
 #imagens img{
     border-radius: 10%;
     border: rgba(221,28,26,0.6) 3px solid;
    width: 100%;
    height: 60%;
    margin-top: 2%;
 }

 /* MEDIA QUERIES */

 @media screen and (min-width: 768px) {
     div {
         font-size: 36px;
     }

     #section3 p {
         font-size: 36px;
     }

     iframe {
         display: block;
         margin: 0 auto;
     }
 }

 @media screen and (min-width: 1024px) {
  
    .column {
        flex: 50%;
        max-width: 49%;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        margin: 2% auto;
        border-radius: 10%;
        border: rgba(221,28,26,0.6) 3px solid;
      }

 }