.carrinho {
    height: 20%;
    margin-bottom: 10%;
}


.identificacao {
    height: 66vh;
    width: 100%;
    background-color: #2ABF5E;
    display: table;
}

.identificacao h1 {
    font-size: 1.3em;
}

.identificacao button {
    background-color: #1C8741;
    border-radius: 15px;
    height: 10vh;
    width: 50vw;
    margin-top: 8%;
    margin-bottom: 8%;
    cursor: pointer;
}

.identificacao button:last-child {
    margin-bottom: 0;
}

.opcoes-id{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

@media screen and (min-width: 600px) {
    
    table{
        font-size: 24px;
    }

    th, td, span {
        font-size: 22px;
    }

    .identificacao button {
        margin-top: 5%;
    }
}