table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2%;
    text-align: center;
}

table {
    margin: 0 auto;
}

table caption {
    font-size: 1.3em;
    margin-bottom: 3%;
}

.carrinho {
    height: 30vh;
}

.identificacao {
    height: 100vh;
    margin-top: 10%;
    background-color: #2ABF5E;
    text-align: center;
}

.identificacao h1 {
    font-size: 1.3em;
}

.identificacao button {
    background-color: #1C8741;
    border-radius: 15px;
    height: 11.8vh;
    width: 74.7vw;
    margin-top: 8%;
    margin-bottom: 8%;
}

.identificacao button:last-child {
    margin-bottom: 0;
}