.carrinho {
    height: 20%;
    margin-bottom: 7%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#dados {
    height: 71vh;
    width: 100%;
    background-color: #2ABF5E;
    padding: 2%;
    text-align: center;
}

#dados button {
    background-color: #1C8741;
    border-radius: 15px;
    height: 10vh;
    width: 50vw;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

span {
    font-weight: bold;
}

.no-bold, #plataforma {
    font-weight: normal;
}

.cartao {
    display: none;
}

.boleto {
    display: none;
}

@media screen and (min-width: 600px) {
    
    table{
        font-size: 24px;
    }

    th, td, #plataforma {
        font-size: 22px;
    }

    
    #dados h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .row, #dados button {
        width: 100%;
        margin-top: 0; 
    }
}